<header>
    {% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="/dashboard">
                {% load static %}
                <img src="{% static 'img/logo_corfo.png' %}" alt="Logo CORFO" height="100" class="me-2">
                Administrador de Metadata
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end align-items-end d-flex" id="navbarNav">
                <div class="d-flex align-items-end">
                    <h5 id="greeting" class="text-muted me-3">Hola {{ user.first_name|default:user.username }}</h5>
                    <ul id="main-nav" class="navbar-nav d-flex flex-row align-items-end">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == '/dashboard/' %}active{% endif %}" href="/dashboard">Registros</a>
                        </li>
                        <form id="logout" action="{% url 'logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-link nav-link">
                                Cerrar sesión
                            </button>
                        </form>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% endif %}
</header>
